* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_12 {
  width: 208px;
  height: 322px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_4 {
  width: 161px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: Jost;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v13_3 {
  width: 208px;
  height: 252px;
  background: url("../images/raw_map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
