<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Jost&display=swap"
      rel="stylesheet"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v1_2">
      <div class="v1_7"></div>
      <span class="v1_5">Bird Collisions in {{ month }} of {{ year }}</span
      ><span class="v1_4">{{ collisions }}</span>
    </div>
  </body>
</html>
